 
   body {
       font-family: "Roboto", sans-serif;
       color: #434455;
       background-color: #FFFFFF;
   } 
 
   ul { list-style-type: none; }

    a { text-decoration: none; }

   /*---HEADER---*/
   .header {
        justify-content: space-between;
        flex-shrink: 0;
    }

   .header-logo {
       font-family: "Raleway", sans-serif;
       font-size: 18px;
       font-weight: 700;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: #4D5AE5;
        text-transform: uppercase;
    }
   .logo-accent {
    color: #2E2F42;
    }

   .header-list {
   }

   .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
  
  

   .header-menu {  
      font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #2E2F42;
   }
   .header-menu:hover,
   .header-menu:focus {
       color: #404BBF; 
   }

   .header-address {
    font-style: normal
   }
    .header-menu-address {
       font-weight: 400;
       font-size: 16px;
       line-height: 150%;
       letter-spacing: 0.02em;
       color: #434455;
    }

   .header-menu-address:hover,
   .header-menu-address:focus {
         color: #404BBF;
     }

   /*---HERO---*/

   .hero {
       background-color: #2E2F42;
       text-align: center;
   }

   .hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    }

   .hero-bt {
       background-color: #4D5AE5;
       color: #FFFFFF;
       font-size: 16px;
       font-weight: 500;
       border: none;
       line-height: 1.5;
       letter-spacing: 0.04em;
        cursor: pointer;
   }
   .hero-bt:hover,
   .hero-bt:focus {
       background-color: #404BBF;
   }
   
   /*---FEATURES---*/
   .features {
   }

   .features-list {
       background-color:#FFFFFF;
       text-align: center;
   }
   .features-item {

   }

   .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
   }
    .features-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}

   /*---GALLERY---*/
   .gallery {
    background-color: #F4F4FD;
   }
   
   .gellery-subject {     
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
   }

   .gallery-list {
   }
   .gellery-item {
    background-color: #FFFFFF;
   }

   .gellery-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
   }

   .gellery-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }

  
   /*---PORTFOLIO---*/
   .portfolio {
    background-color: #FFFFFF
   }
   .portfolio-title{
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-align: center;
       text-transform: capitalize;
       color: #2e2f42;
   }
    .portfolio-neme {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        }
    .portfolio-text{ 
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
   }

   /*---FOOTER---*/
   .footer {
       background-color: #2E2F42;
       text-align: center;
   }

   .footer-logo {
       font-family: "Raleway", sans-serif;
       font-size: 18px;
       font-weight: 700;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color:#4D5AE5;
       text-decoration: none;
   }

   .footer-logo-accent {
       color:#F4F4FD;
   }

   .footer-text {
       font-size: 16px;
       color: #F4F4FD;
       letter-spacing: 0.02em;
       line-height: 1.5
   }